<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Edit</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="/users/positions">Positions</a></li>
          <li class="breadcrumb-item"><a href="/users/positions/{{ id }}">{{ id }}</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <form [formGroup]="positionForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name" class="col-form-label">Name</label>
                    <input
                      id="name"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                      formControlName="name"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.name.errors"><strong>{{ f.name.errors }}</strong></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="hierarchy" class="col-form-label">Hierarchy</label>
                    <input
                      id="hierarchy"
                      class="form-control"
                      [type]="'number'"
                      [ngClass]="{ 'is-invalid': submitted && f.hierarchy.errors }"
                      formControlName="hierarchy"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.hierarchy.errors"><strong>{{ f.hierarchy.errors }}</strong></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <div class="form-group">
          <app-button [type]="'submit'" [block]="true" [text]="'Update'" ></app-button>
        </div>
      </div>
    </form>
  </div>
</div>
