<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" (click)="toggleDropdownMenu()">
    <i class="fas fa-envelope-open-text"></i>
    <span class="badge badge-warning navbar-badge">12</span>
  </a>
  <div #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> 4 Испорчен
      <span class="float-right text-muted text-sm">3 мин</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i>2 На отмену
      <span class="float-right text-muted text-sm">12 часов</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> 3 Потерен
      <span class="float-right text-muted text-sm">2 дня</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> 1 Примем полисов
      <span class="float-right text-muted text-sm">5 мин</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> 1 Передача полисов
      <span class="float-right text-muted text-sm">23 мин</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> 1 Андеррайтинг
      <span class="float-right text-muted text-sm">37 мин</span>
    </a>
  </div>
</li>
