<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" (click)="toggleDropdownMenu()">
    <i class="fas fa-bell"></i>
    <span class="badge badge-danger navbar-badge">23</span>
  </a>
  <div #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <span class="dropdown-item dropdown-header">23 Срок близко</span>
    <div class="dropdown-divider"></div>

    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> 23 Срок договора
      <span class="float-right text-muted text-sm">53 мин</span>
    </a>
  </div>
</li>

<ng-template #notification>
  <a href="#" class="dropdown-item">
    <i class="fas fa-envelope mr-2"></i> 4 new messages
    <span class="float-right text-muted text-sm">3 mins</span>
  </a>
  <div class="dropdown-divider"></div>
</ng-template>
