<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Create</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="/policy-registrations">Policy registrations</a></li>
          <li class="breadcrumb-item"><a href="/policy-registrations/{{ id }}">{{ id }}</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <form [formGroup]="policyRegistrationForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Polis</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" (click)="closeForm()" title="Collapse">
                  <i class="fas fa-window-close"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="act_number" class="col-form-label">Act number</label>
                    <input
                      id="act_number"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.act_number.errors }"
                      formControlName="act_number"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.act_number.errors"><strong>{{ f.act_number.errors }}</strong></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="act_date" class="col-form-label">Act date</label>
                    <div class="input-group">
                      <input
                        id="act_date"
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        [ngClass]="{ 'is-invalid': submitted && f.act_date.errors }"
                        [formControlName]="'act_date'"
                        name="act_date"
                        (click)="d.toggle()"
                        (dateSelect)="onDateSelected($event)"
                        ngbDatepicker #d="ngbDatepicker"
                        required
                      >
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                      </div>
                    </div>
                    <span class="invalid-feedback" *ngIf="f.act_date.errors"><strong>{{ f.act_date.errors }}</strong></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_number_from" class="col-form-label">Policy number from:</label>
                    <input
                      id="polis_number_from"
                      class="form-control"
                      [type]="'number'"
                      [ngClass]="{ 'is-invalid': submitted && f.polis_number_from.errors }"
                      formControlName="polis_number_from"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.polis_number_from.errors"><strong>{{ f.polis_number_from.errors }}</strong></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_number_to" class="col-form-label">Policy number to:</label>
                    <input
                      id="polis_number_to"
                      class="form-control"
                      [type]="'number'"
                      [ngClass]="{ 'is-invalid': submitted && f.polis_number_to.errors }"
                      formControlName="polis_number_to"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.polis_number_to.errors"><strong>{{ f.polis_number_to.errors }}</strong></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_quantity" class="col-form-label">Policy quantity</label>
                    <input
                      id="polis_quantity"
                      class="form-control"
                      [type]="'number'"
                      [ngClass]="{ 'is-invalid': submitted && f.polis_quantity.errors }"
                      formControlName="polis_quantity"
                      required
                    >
                    <span class="invalid-feedback" *ngIf="f.polis_quantity.errors"><strong>{{ f.polis_quantity.errors }}</strong></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="polis_status" class="col-form-label">Policy status</label>
                    <select
                      id="polis_status"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.polis_status.errors }"
                      formControlName="polis_status"
                      required
                    >
                      <option *ngFor="let status of statuses" [ngValue]="status.id">{{ status.name }}</option>
                    </select>
                    <span class="invalid-feedback" *ngIf="f.polis_status.errors"><strong>{{ f.polis_status.errors }}</strong></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-body">
              <div class="form-group">
                    <div class="file-loading">
                        <input
                          id="file-input-empty" class="file"
                          type="file" name="file"
                          (change)="onFileSelected($event)"
                          data-show-upload="false"
                          data-browse-on-zone-click="true"
                          data-max-file-count="1"
                        >
                    </div>
                    <span class="invalid-feedback" *ngIf="f.file.errors"><strong>{{ f.file.errors }}</strong></span>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <div class="form-group">
          <app-button [type]="'submit'" [block]="true" [text]="'Edit'" [color]="'success'"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>
